<p>users works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de usuario</title>
</head>
<body>

    <form>

         <h2>Registrate</h2>
         <input type="text" placeholder="Nombre">
         <br>
         <input type="text" placeholder="Apellido">
         <br>
         <input type="email" placeholder="Correo">
         <br>
         <input type="password" placeholder="Contraeña">
         <br>
         <input type="password" placeholder="Confirmar contraseña">
         <br>
         

    </form>
    
</body>
</html>