<form>

     <h3 class="font-bold text-center">Registrar Usuario</h3>
     <br>
     <input class="input input-primary" type="text" placeholder="Nombre">
     <br>
     <input class="input input-primary" type="text" placeholder="Apellido">
     <br>
     <input class="input input-primary" type="email" placeholder="Correo">
     <br>
     <input class="input input-primary" type="password" placeholder="Contraseña">
     <br>
     <input class="input input-primary" type="password" placeholder="Confirmar contraseña">
     <br>
     <a class="btn btn-primary" onclick="my_modal_1.showModal()">Guardar</a>
     

</form>
<dialog id="my_modal_1" class="modal">
     <div class="modal-box">
          <h3 class="font-bold text-lg">¡Usuario registrado con éxito!</h3>
          <p class="py-4">Presiona el boton "Cerrar" para volver</p>
          <div class="modal-action">
               <form method="dialog">
                    <a href="#/users" class="btn">Cerrar</a>
               </form>
          </div>
     </div>
</dialog> 