<div class="flex w-full">
    <div class="grid h-200 flex-grow card bg-base-300 rounded-box place-items-center w-96 shadow-xl">
        <div class="card-body">
            <h1 class="card-title">Clientes</h1>
            <p>Puedes administrar los clientes del sistema</p>
            <div class="card-actions justify-end">
                <a routerLink="/customers" class="btn btn-primary">Ver clientes</a>
            </div>
        </div>
    </div>
    <div class="divider divider-horizontal"></div>
    <div class="grid h-200 flex-grow card bg-base-300 rounded-box place-items-center w-96 shadow-xl">
        <div class="card-body">
            <h1 class="card-title">Ventas</h1>
            <p>Puedes administrar las ventas del sistema</p>
            <div class="card-actions justify-end">
                <a routerLink="/sales" class="btn btn-primary">Ver ventas</a>
            </div>
        </div>
    </div>
</div>
<div class="divider divider-vertical"></div>
<div class="flex w-full">
    <div class="grid h-200 flex-grow card bg-base-300 rounded-box place-items-center w-96 shadow-xl">
        <div class="card-body">
            <h1 class="card-title">Predios</h1>
            <p>Puedes administrar los predios del sistema</p>
            <div class="card-actions justify-end">
                <a routerLink="/properties" class="btn btn-primary">Ver predios</a>
            </div>
        </div>
    </div>
    <div class="divider divider-horizontal"></div>
    <div class="grid h-200 flex-grow card bg-base-300 rounded-box place-items-center w-96 shadow-xl">
        <div class="card-body">
            <h1 class="card-title">Usuarios</h1>
            <p>Puedes administrar los usuarios del sistema</p>
            <div class="card-actions justify-end">
                <a routerLink="/users" class="btn btn-primary">Ver usuarios</a>
            </div>
        </div>
    </div>
</div>