<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <img alt="spider man" src="../../assets/Logo.jpeg" class="max-w-sm rounded-lg shadow-2xl" />
      <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <form action="#" class="card-body">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input type="email" placeholder="email" class="input input-bordered" required />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input type="password" placeholder="password" class="input input-bordered" required />
            <label class="label">
              <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
            </label>
          </div>
          <div class="form-control mt-6">
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
          </div>
        </form>
      </div>
    </div>
  </div>