<a href="/customers/new" class="btn btn-outline">Nuevo Cliente</a>
<div class="overflow-x-auto">
    <table class="table table-zebra">
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Identificación</th>
                <th>Tipo de Identificación</th>
                <th>Salario</th>
                <th>Email</th>
                <th>Múmero de teléfono</th>
                <th>Estado civil</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (customer of customers; track customer.id) {
            <tr>
                <td>{{customer.names}}</td>
                <td>{{customer.lastNames}}</td>
                <td>{{customer.identity.value}}</td>
                <td>{{customer.identity.type}}</td>
                <td>{{customer.salary}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.phoneNumber}}</td>
                <td>{{customer.civilStatus}}</td>
                <td>
                    <a routerLink='/customers/{{customer.id}}/detail' class="btn btn-primary">Editar</a>
                    <button type="button" (click)="delete(customer.id)" class="btn btn-error">Eliminar</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>