<div class="overflow-x-auto">
    <a href="/customers/new" class="btn btn-outline">Nuevo Cliente</a>
    <table class="table table-zebra">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Número de identificación</th>
                <th>Salario</th>
                <th>Múmero de teléfono</th>
                <th>Estado civil</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (customer of customers; track customer.id ) {
            <tr>
                <td>{{customer.id}}</td>
                <td>{{customer.names}}</td>
                <td>{{customer.lastnames}}</td>
                <td>{{customer.identification}}</td>
                <td>{{customer.salary}}</td>
                <td>{{customer.cellphone}}</td>
                <td>{{customer.civilStatus}}</td>
                <td><a [routerLink]='"/home"' class="btn btn-primary">Editar</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>