<h1 class="text-xl">Nuevo Cliente</h1>
<form class="form-control" [formGroup]="form" (ngSubmit)="save()">
  <select formControlName="identityType" title="Tipo de Identificación" class="select select-bordered w-full max-w-xs">
    @for (identityType of identityTypes; track identityType.id) {
      <option [value]="identityType.id">{{ identityType.name }}</option>
    } 
  </select>
  <input type="text" placeholder="Número de Identificación" formControlName="identityValue" class="input input-bordered w-full max-w-xl" />
  <input type="text" placeholder="Lugar de Expedición" formControlName="identityExpedition" class="input input-bordered w-full max-w-xl" />
  <input type="text" placeholder="Nombres" formControlName="names" class="input input-bordered w-full max-w-xl" />
  <input type="text" placeholder="Apellidos" formControlName="lastNames" class="input input-bordered w-full max-w-xl" />
  <input type="number" placeholder="Salario" formControlName="salary" class="input input-bordered w-full max-w-xl" />
  <input type="tel" placeholder="Número de Teléfono o Celular" formControlName="phoneNumber" class="input input-bordered w-full max-w-xl" />
  <input type="email" placeholder="Email" formControlName="email" class="input input-bordered w-full max-w-xl" />
  <select formControlName="civilStatus" title="Estado Civil" class="select select-bordered w-full max-w-xs">
    @for (civilStatus of civilStatuses; track civilStatus.id) {
      <option [value]="civilStatus.id">{{ civilStatus.name }}</option>
    } 
  </select>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>