<div class="flex flex-col w-full">
    <form class="form-control" [formGroup]="form!" (ngSubmit)="save()">
        <div class="divider divider-error">Datos del predio</div>
        <div class="grid grid-cols-4 gap-2">
            <label for="propertyTuition" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Matrícula Inmobiliaria *</span>
                    <input type="button" value="Autocompletar" class="btn btn-outline btn-xs btn-error" (click)="loadProperty()">
                </div>
                <input type="text" placeholder="Ej: 00001" formControlName="propertyTuition" id="propertyTuition"
                       class="input input-bordered input-error w-full max-w-xs"/>
            </label>
            <label for="propertyPrice" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Precio</span>
                </div>
                <div class="input input-bordered input-error flex items-center gap-4">
                    <span>$</span>
                    <input type="number" placeholder="Ej: 12500000" formControlName="propertyPrice" id="propertyPrice"
                           class="grow"/>
                </div>
            </label>
            <label for="propertyBlock" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Bloque</span>
                </div>
                <input type="text" placeholder="Ej: 01" formControlName="propertyBlock" id="propertyBlock"
                       class="input input-bordered input-error w-full max-w-xl"/>
            </label>
            <label for="propertyLot" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Número de lote</span>
                </div>
                <input type="text" placeholder="Ej: 01" formControlName="propertyLot" id="propertyLot"
                       class="input input-bordered input-error w-full max-w-xs"/>
            </label>
            <label for="propertyCoordinatesNorth" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Norte</span>
                </div>
                <input type="text" placeholder="Ej: Calle 1" formControlName="propertyCoordinatesNorth"
                       id="propertyCoordinatesNorth" class="input input-bordered input-error w-full max-w-xs"/>
            </label>
            <label for="propertyCoordinatesSouth" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Sur</span>
                </div>
                <input type="text" placeholder="Ej: Calle 1" formControlName="propertyCoordinatesSouth"
                       id="propertyCoordinatesSouth" class="input input-bordered input-error w-full max-w-xs"/>
            </label>
            <label for="propertyCoordinatesEast" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Este</span>
                </div>
                <input type="text" placeholder="Ej: Calle 1" formControlName="propertyCoordinatesEast"
                       id="propertyCoordinatesEast" class="input input-bordered input-error w-full max-w-xs"/>
            </label>
            <label for="propertyCoordinatesWest" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Oeste</span>
                </div>
                <input type="text" placeholder="Ej: Calle 1" formControlName="propertyCoordinatesWest"
                       id="propertyCoordinatesWest" class="input input-bordered input-error w-full max-w-xs"/>
            </label>
        </div>
        <div class="divider divider-error"></div>
        <div class="divider divider-success">Datos del cliente</div>
        <div class="grid grid-cols-4 gap-2">
            <label for="customerIdentityType" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Tipo de Identificación *</span>
                </div>
                <select formControlName="customerIdentityType" id="customerIdentityType" title="Tipo de Identificación"
                        class="select select-bordered select-success w-full max-w-xs">
                    @for (identificationType of identificationTypes; track identificationType.id) {
                        <option [value]="identificationType.id">{{ identificationType.name }}</option>
                    }
                </select>
            </label>
            <label for="customerIdentityValue" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Número de identificación *</span>
                    <input type="button" value="Autocompletar" class="btn btn-outline btn-xs btn-success" (click)="loadCustomer()">
                </div>
                <input type="text" placeholder="Ej: 1011222334" formControlName="customerIdentityValue"
                       id="customerIdentityValue" class="input input-bordered input-success w-full max-w-xl"/>
            </label>
            <label for="customerIdentityExpedition" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Expedición de identificación</span>
                </div>
                <input type="text" placeholder="Ej: Valledupar" formControlName="customerIdentityExpedition"
                       id="customerIdentityExpedition" class="input input-bordered input-success w-full max-w-xl"/>
            </label>
            <label for="customerNames" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Nombres</span>
                </div>
                <input type="text" placeholder="Ej: Samuel David" formControlName="customerNames" id="customerNames"
                       class="input input-bordered input-success w-full max-w-xl"/>
            </label>
            <label for="customerLastNames" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Apellidos</span>
                </div>
                <input type="text" placeholder="Ej: Martínez Perez" formControlName="customerLastNames"
                       id="customerLastNames" class="input input-bordered input-success w-full max-w-xl"/>
            </label>
            <label for="customerSalary" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Salarios</span>
                </div>
                <div class="input input-bordered input-success flex items-center gap-4">
                    <span>SMMLV</span>
                    <input type="number" placeholder="Valor en número de salarios" formControlName="customerSalary"
                           id="customerSalary" class="grow"/>
                </div>
            </label>
            <label for="customerPhoneNumber" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Número de teléfono o celular</span>
                </div>
                <input type="tel" placeholder="Ej: 3123456789" formControlName="customerPhoneNumber"
                       id="customerPhoneNumber" class="input input-bordered input-success w-full max-w-xs"/>
            </label>
            <label for="customerEmail" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Email</span>
                </div>
                <input type="email" placeholder="Ej: mail@example.com" formControlName="customerEmail"
                       id="customerEmail" class="input input-bordered input-success w-full max-w-xs"/>
            </label>
            <label for="customerCivilStatus" class="form-control w-full max-w-xs">
                Estado civil
                <select formControlName="customerCivilStatus" id="customerCivilStatus" title="Tipo de Identificación"
                        class="select select-bordered select-success w-full max-w-xs">
                    @for (civilStatus of civilStatuses; track civilStatus.id) {
                        <option [value]="civilStatus.id">{{ civilStatus.name }}</option>
                    }
                </select>
            </label>
        </div>
        <div class="divider divider-success"></div>
        <div class="divider divider-primary">Sección de finanzas</div>
        <div class="grid grid-cols-4 gap-2">
            <label for="financialPrice" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Precio</span>
                </div>
                <input type="number" formControlName="financialPrice" id="financialPrice"
                       class="input input-bordered input-primary w-full max-w-xs"/>
            </label>
            <label for="financialValueToSetAside" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Valor a apartar</span>
                </div>
                <input type="number" formControlName="financialValueToSetAside" id="financialValueToSetAside"
                       class="input input-bordered input-primary w-full max-w-xs"/>
            </label>
            <label for="financialOtherPayments" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Otros abonos</span>
                </div>
                <input type="number" formControlName="financialOtherPayments" id="financialOtherPayments"
                       class="input input-bordered input-primary w-full max-w-xs"/>
            </label>
            <label for="financialCompensationFundSubsidy" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Subsidio caja de compensación</span>
                </div>
                <input type="number" formControlName="financialCompensationFundSubsidy"
                       id="financialCompensationFundSubsidy"
                       class="input input-bordered input-primary w-full max-w-xs"/>
            </label>
            <label for="financialMinistryOfHousingSubsidy" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Subsidio ministerio de vivienda</span>
                </div>
                <input type="number" formControlName="financialMinistryOfHousingSubsidy"
                       id="financialMinistryOfHousingSubsidy"
                       class="input input-bordered input-primary w-full max-w-xs"/>
            </label>
            <label for="financialLoanValue" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Valor préstamo</span>
                </div>
                <input type="number" formControlName="financialLoanValue" id="financialLoanValue"
                       class="input input-bordered input-primary w-full max-w-xs"/>
            </label>
            <label for="financialLoanEntity" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Entidad préstamo</span>
                </div>
                <input type="text" placeholder="Ej: Bancolombia" formControlName="financialLoanEntity"
                       id="financialLoanEntity" class="input input-bordered input-primary w-full max-w-xs"/>
            </label>
            <label for="financialDebt" class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Saldo</span>
                </div>
                <input type="number" formControlName="financialDebt" id="financialDebt"
                       class="input input-bordered input-primary w-full max-w-xs"/>
            </label>
        </div>
        <div class="divider divider-primary"></div>
        <div class="divider divider-info">Sección de documentos</div>
        <div class="grid grid-cols-4 gap-2">
            <label for="documentaryIdentificationDocument" class="form-control w-full max-w-xs">
                <span class="label label-text">Copia Cédula</span>
                <input type="checkbox" formControlName="documentaryIdentificationDocument"
                       id="documentaryIdentificationDocument" class="toggle toggle-info toggle-lg"/>
            </label>
            <label for="documentarySignedPledge" class="form-control w-full max-w-xs">
                <span class="label label-text">Promesa firmada</span>
                <input type="checkbox" formControlName="documentarySignedPledge" id="documentarySignedPledge"
                       class="toggle toggle-info toggle-lg"/>
            </label>
            <label for="documentaryCreditApprovalLetter" class="form-control w-full max-w-xs">
                <span class="label label-text">Carta de aprobación drédito</span>
                <input type="checkbox" formControlName="documentaryCreditApprovalLetter"
                       id="documentaryCreditApprovalLetter" class="toggle toggle-info toggle-lg"/>
            </label>
            <label for="documentaryMinistrySubsidyResolution" class="form-control w-full max-w-xs">
                <span class="label label-text">Resolución subsidio ministerio</span>
                <input type="checkbox" formControlName="documentaryMinistrySubsidyResolution"
                       id="documentaryMinistrySubsidyResolution" class="toggle toggle-info toggle-lg"/>
            </label>
            <label for="documentaryDeliveryDocument" class="form-control w-full max-w-xs">
                <span class="label label-text">Acta de entrega</span>
                <input type="checkbox" formControlName="documentaryDeliveryDocument" id="documentaryDeliveryDocument"
                       class="toggle toggle-info toggle-lg"/>
            </label>
            <label for="documentaryApprovalLetterNumber" class="form-control w-full max-w-xs">
                <span class="label label-text">Número de carta aprobación</span>
                <input type="text" formControlName="documentaryApprovalLetterNumber"
                       id="documentaryApprovalLetterNumber" class="input input-bordered input-info w-full max-w-xs"/>
            </label>
            <label for="documentaryCompensationFundRecordNumber" class="form-control w-full max-w-xs">
                <span class="label label-text">Número de acta sub caja de compensación</span>
                <input type="text" formControlName="documentaryCompensationFundRecordNumber"
                       id="documentaryCompensationFundRecordNumber"
                       class="input input-bordered input-info w-full max-w-xs"/>
            </label>
        </div>
        <div class="divider divider-info"></div>
        <div class="divider divider-secondary">Sección de avaluo</div>
        <div class="grid grid-cols-4 gap-2">
            <label for="appraisalPayment">
                <span class="label label-text">Pago de avaluo</span>
                <input type="checkbox" formControlName="appraisalPayment" id="appraisalPayment"
                       class="toggle toggle-lg toggle-secondary"/>
            </label>
            <label for="appraisalRequestSubmissionOfDocuments">
                <span class="label label-text">Solicitud avaluo envío de documentos</span>
                <input type="checkbox" formControlName="appraisalRequestSubmissionOfDocuments"
                       id="appraisalRequestSubmissionOfDocuments" class="toggle toggle-lg toggle-secondary"/>
            </label>
            <label for="appraisalVisit">
                <span class="label label-text">Visita de avaluo</span>
                <input type="checkbox" formControlName="appraisalVisit" id="appraisalVisit"
                       class="toggle toggle-lg toggle-secondary"/>
            </label>
            <label for="appraisalReport">
                <span class="label label-text">Informe de avaluo</span>
                <input type="checkbox" formControlName="appraisalReport" id="appraisalReport"
                       class="toggle toggle-lg toggle-secondary"/>
            </label>
            <label for="appraisalIssuanceByTheBankOfALetterOfRatification">
                <span class="label label-text">Expedición por parte del banco de carta de ratificación</span>
                <input type="checkbox" formControlName="appraisalIssuanceByTheBankOfALetterOfRatification"
                       id="appraisalIssuanceByTheBankOfALetterOfRatification"
                       class="toggle toggle-lg toggle-secondary"/>
            </label>
            <label for="appraisalTitleStudyPayment">
                <span class="label label-text">Pago estudio de título</span>
                <input type="checkbox" formControlName="appraisalTitleStudyPayment" id="appraisalTitleStudyPayment"
                       class="toggle toggle-lg toggle-secondary"/>
            </label>
            <label for="appraisalSendingDocumentsForTitleStudy">
                <span class="label label-text">Envío de documentos para estudio de título</span>
                <input type="checkbox" formControlName="appraisalSendingDocumentsForTitleStudy"
                       id="appraisalSendingDocumentsForTitleStudy" class="toggle toggle-lg toggle-secondary"/>
            </label>
            <label for="appraisalFamilyCodeInMinistryOfHousing">
                <span class="label label-text">Código de familia ministerio vivienda</span>
                <input type="text" formControlName="appraisalFamilyCodeInMinistryOfHousing"
                       id="appraisalFamilyCodeInMinistryOfHousing" class="input input-bordered w-full max-w-xs"/>
            </label>
        </div>
        <div class="divider divider-secondary"></div>
        <div class="divider divider-accent">Sección de escrituras</div>
        <div class="grid grid-cols-4 gap-2">
            <label for="deedConstructionCompanySignature">
                <span class="label label-text">Firma escritura constructora</span>
                <input type="checkbox" formControlName="deedConstructionCompanySignature"
                       id="deedConstructionCompanySignature" class="toggle toggle-lg toggle-accent"/>
            </label>
            <label for="deedCustomerSignature">
                <span class="label label-text">Firma escritura cliente</span>
                <input type="checkbox" formControlName="deedCustomerSignature" id="deedCustomerSignature"
                       class="toggle toggle-lg toggle-accent"/>
            </label>
            <label for="deedPropertySellerSignature">
                <span class="label label-text">Firma escritura vendedor lote</span>
                <input type="checkbox" formControlName="deedPropertySellerSignature" id="deedPropertySellerSignature"
                       class="toggle toggle-lg toggle-accent"/>
            </label>
            <label for="deedBankSignature">
                <span class="label label-text">Firma escritura banco</span>
                <input type="checkbox" formControlName="deedBankSignature" id="deedBankSignature"
                       class="toggle toggle-lg toggle-accent"/>
            </label>
            <label for="deedCopiesAndSettlement">
                <span class="label label-text">Copias y liquidación</span>
                <input type="checkbox" formControlName="deedCopiesAndSettlement" id="deedCopiesAndSettlement"
                       class="toggle toggle-lg toggle-accent"/>
            </label>
            <label for="deedEntryDateIntoPublicInstruments">
                <span class="label label-text">Fecha ingreso instrumentos públicos</span>
                <input type="date" formControlName="deedEntryDateIntoPublicInstruments"
                       id="deedEntryDateIntoPublicInstruments"
                       class="input input-bordered input-accent w-full max-w-xs"/>
            </label>
        </div>
        <div class="divider divider-accent"></div>
        <div class="divider divider-secondary">Sección de gastos de escrituras</div>
        <div class="grid grid-cols-4 gap-2">
            <label for="deedCostsDeedCosts">
                <span class="label label-text">Gastos de escrituración</span>
                <input type="number" formControlName="deedCostsDeedCosts" id="deedCostsDeedCosts"
                       class="input input-bordered input-secondary w-full max-w-xs"/>
            </label>
            <label for="deedCostsNotaryPayment">
                <span class="label label-text">Pago notaria</span>
                <input type="number" formControlName="deedCostsNotaryPayment" id="deedCostsNotaryPayment"
                       class="input input-bordered input-secondary w-full max-w-xs"/>
            </label>
            <label for="deedCostsPropertyPayment">
                <span class="label label-text">Pago predial</span>
                <input type="number" formControlName="deedCostsPropertyPayment" id="deedCostsPropertyPayment"
                       class="input input-bordered input-secondary w-full max-w-xs"/>
            </label>
            <label for="deedCostsGovernmentPayment">
                <span class="label label-text">Pago gobernación</span>
                <input type="number" formControlName="deedCostsGovernmentPayment" id="deedCostsGovernmentPayment"
                       class="input input-bordered input-secondary w-full max-w-xs"/>
            </label>
            <label for="deedCostsPublicInstrumentsPayment">
                <span class="label label-text">Pago instrumentos públicos</span>
                <input type="number" formControlName="deedCostsPublicInstrumentsPayment"
                       id="deedCostsPublicInstrumentsPayment"
                       class="input input-bordered input-secondary w-full max-w-xs"/>
            </label>
            <label for="deedCostsDeedDebt">
                <span class="label label-text">Saldo gastos de escrituración</span>
                <input type="number" formControlName="deedCostsDeedDebt" id="deedCostsDeedDebt"
                       class="input input-bordered input-secondary w-full max-w-xs"/>
            </label>
        </div>
        <div class="divider divider-secondary"></div>
        <div class="divider divider-error">Sección de entrega</div>
        <div class="grid grid-cols-4 gap-2">
            <label for="deliveryScannedDeliveryCertificate">
                <span class="label label-text">Acta de entrega escaneada</span>
                <input type="checkbox" formControlName="deliveryScannedDeliveryCertificate"
                       id="deliveryScannedDeliveryCertificate" class="toggle toggle-lg toggle-error"/>
            </label>
            <label for="deliveryScannedTaxAndRegistrationSlip">
                <span class="label label-text">Impuesto y boleta de registro escaneada</span>
                <input type="checkbox" formControlName="deliveryScannedTaxAndRegistrationSlip"
                       id="deliveryScannedTaxAndRegistrationSlip" class="toggle toggle-lg toggle-error"/>
            </label>
            <label for="deliveryScannedDeed">
                <span class="label label-text">Escritura escaneada</span>
                <input type="checkbox" formControlName="deliveryScannedDeed" id="deliveryScannedDeed"
                       class="toggle toggle-lg toggle-error"/>
            </label>
            <label for="deliveryDisbursementInstruction">
                <span class="label label-text">Instrucción de desembolso</span>
                <input type="checkbox" formControlName="deliveryDisbursementInstruction"
                       id="deliveryDisbursementInstruction" class="toggle toggle-lg toggle-error"/>
            </label>
            <label for="deliveryPeaceAndSafetyPropertySeller">
                <span class="label label-text">Paz y salvo vendedor lote</span>
                <input type="checkbox" formControlName="deliveryPeaceAndSafetyPropertySeller"
                       id="deliveryPeaceAndSafetyPropertySeller" class="toggle toggle-lg toggle-error"/>
            </label>
            <label for="deliveryScannedCTL">
                <span class="label label-text">CTL escaneado</span>
                <input type="checkbox" formControlName="deliveryScannedCTL" id="deliveryScannedCTL"
                       class="toggle toggle-lg toggle-error"/>
            </label>
            <label for="deliveryDeedSentToLawyer">
                <span class="label label-text">Envío escritura abogado</span>
                <input type="checkbox" formControlName="deliveryDeedSentToLawyer" id="deliveryDeedSentToLawyer"
                       class="toggle toggle-lg toggle-error"/>
            </label>
        </div>
        <div class="divider divider-error"></div>
        <div class="divider divider-warning">Sección de subsidios</div>
        <div class="grid grid-cols-4 gap-2">
            <label for="subsidyDialedMinistryCollection">
                <span class="label label-text">Marcación cobro sub ministerio</span>
                <input type="checkbox" formControlName="subsidyDialedMinistryCollection"
                       id="subsidyDialedMinistryCollection" class="toggle toggle-lg toggle-warning"/>
            </label>
            <label for="subsidyMinistryPayment">
                <span class="label label-text">Pago subsidio ministerio</span>
                <input type="checkbox" formControlName="subsidyMinistryPayment" id="subsidyMinistryPayment"
                       class="toggle toggle-lg toggle-warning"/>
            </label>
            <label for="subsidyCompensationBoxSubsidyFiled">
                <span class="label label-text">Radicado cobro subsidio caja compensación</span>
                <input type="checkbox" formControlName="subsidyCompensationBoxSubsidyFiled"
                       id="subsidyCompensationBoxSubsidyFiled" class="toggle toggle-lg toggle-warning"/>
            </label>
            <label for="subsidyCompensationCashPayment">
                <span class="label label-text">Pago subsidio caja compensación</span>
                <input type="checkbox" formControlName="subsidyCompensationCashPayment"
                       id="subsidyCompensationCashPayment" class="toggle toggle-lg toggle-warning"/>
            </label>
            <label for="subsidyLoanDisbursementDate">
                <span class="label label-text">Fecha desembolso del crédito</span>
                <input type="date" formControlName="subsidyLoanDisbursementDate" id="subsidyLoanDisbursementDate"
                       class="input input-bordered input-warning w-full max-w-xs"/>
            </label>
        </div>
        <div class="divider divider-warning"></div>
        <div class="divider divider-primary">Sección de servicios</div>
        <div class="grid grid-cols-3 gap-2">
            <label for="servicesElectricMeterValue">
                <span class="label label-text">Valor medidor eléctrico</span>
                <input type="number" formControlName="servicesElectricMeterValue" id="servicesElectricMeterValue"
                       class="input input-bordered input-primary w-full max-w-xs"/>
            </label>
            <label for="servicesInstalledElectricMeter">
                <span class="label label-text">Instalación medidor luz</span>
                <input type="checkbox" formControlName="servicesInstalledElectricMeter"
                       id="servicesInstalledElectricMeter" class="toggle toggle-lg toggle-primary"/>
            </label>
            <label for="servicesInstalledWaterMeter">
                <span class="label label-text">Instalación medidor agua</span>
                <input type="checkbox" formControlName="servicesInstalledWaterMeter" id="servicesInstalledWaterMeter"
                       class="toggle toggle-lg toggle-primary"/>
            </label>
        </div>
        <div class="divider divider-primary"></div>
        <div class="divider divider-secondary">Sección de visita</div>
        <div class="grid grid-cols-3 gap-2">
            <label for="visitVisit">
                <span class="label label-text">Visita</span>
                <input type="checkbox" formControlName="visitVisit" id="visitVisit"
                       class="toggle toggle-lg toggle-secondary"/>
            </label>
            <label for="visitCertified">
                <span class="label label-text">Certificado</span>
                <input type="checkbox" formControlName="visitCertified" id="visitCertified"
                       class="toggle toggle-lg toggle-secondary"/>
            </label>
            <label for="visitSentAfiniaDocuments">
                <span class="label label-text">Envío documentos Afinia</span>
                <input type="checkbox" formControlName="visitSentAfiniaDocuments" id="visitSentAfiniaDocuments"
                       class="toggle toggle-lg toggle-secondary"/>
            </label>
        </div>
        <div class="divider divider-secondary"></div>
        <button type="submit" class="btn btn-primary" [disabled]="form!.invalid">Guardar</button>
    </form>
</div>
